.productsContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1rem;
  margin: 0;
  padding: 0;
}

.card_body {
  background-color: #999;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: space-between;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  padding: 1rem;
}

.card_image_container {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 180px;
  max-width: 200px;
}

.card_image_container img {
  display: flex;
  max-width: 200px;
}

.productsContainer h1,
.productsContainer h2,
.productsContainer h3,
.productsContainer h4,
.productsContainer h5,
.productsContainer h6 {
  text-wrap: wrap;
  text-align: center;
}

.card_info_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.card_info_container h3 {
  flex-grow: 1;
}

#createProductForm {
  display: flex;
  flex-direction: column;
  place-items: center;
  max-width: 1280px;
  gap: 1rem;
}

#createProductForm input {
  width: 400px;
}

.card_button_container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: end;
  cursor: pointer;
}