<h1>Pagina del carrito</h1>

<div class="productsContainer">
  {{#each products}}
    <div class="card_body">
      <picture class="card_image_container">
        <img src={{{this.productId.thumbnail}}} />
      </picture>
      <div class="card_info_container">
        <h3>{{this.productId.title}}</h3>
        <p>${{this.productId.price}}</p>
        <p>Cantidad: {{quantity}}</p>
      </div>
      <div>
        <button>Eliminar del carrito (sin funcion)</button>
      </div>
    </div>
  {{/each}}
</div>