<div class="app-view">
  <header>
    <h1>Component Hardware</h1>
    <nav class="navbar">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/profile">Profile</a></li>
        <li><a href="/products">Products</a></li>
        <li><a href='/cart/6525b05f6d9f1c50835332d1'>Cart</a></li>
      </ul>
    </nav>
  </header>

  <h1>Página del Home</h1>

  <p>No hay nada por aquí :(</p>
  <p>Puedes navegar por las distintas rutas en la barra de navegación :D</p>
</div>