<header>
  <h1>Component Hardware</h1>
  <nav class="navbar">
    <ul>
      <li><a href="/login">Iniciar sesi칩n</a></li>
      <li><a href="/signup">Registrarse</a></li>
    </ul>
  </nav>
</header>

<h1>Login</h1>

<p style="color: #080">{{message}}</p>

<form method="post" action="/api/sessions/login">
  <input type="email" name="email" placeholder="Correo electr칩nico" />
  <input type="password" name="password" placeholder="Contrase침a" />
  <button>Iniciar sesi칩n</button>
</form>
<p style="color: #f00">{{error}}</p>